*{
  margin: 0;
  padding: 0;
}

body {
/*  background-color: MediumSeaGreen;
  background-image: url("https://media.istockphoto.com/vectors/african-safari-background-with-rhinos-and-zebras-vector-id594486220?k=20&m=594486220&s=170667a&w=0&h=kI_hl1KjnxIQIErCTY6tLA8mhwOwZasIYhn5mNXTTng=");
  background-size: cover;
  background-repeat: no-repeat;*/
  background-image: linear-gradient(rgba(235, 192, 52), rgba(245, 188, 66), rgba(245, 170, 66), rgba(245, 156, 66), rgba(245, 141, 66)); /*safari sunset color gradient */
}


span {
  text-decoration: underline;
}

.logout {
  font-weight: bold;
  display: inline-block;
  margin: 0px 7px;
}

.LogoutImage{
  width: 20px;
  height: 20px;
}

.TitleImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 37%;
}

.logout, .TitleImage{
  margin-top: 10px;
}

.Configuration{
  width: 250px;
  height: 350px;
  display: block;
  background-color: beige;
  color: black;
  float: left;
  padding-left: 10mm;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 2%;
  margin-left: 2%;
}

.Configuration h1 {
  margin: 10px 0px;
  font-weight: bold;
}

.Configuration p{
  margin-top: 7px;
}

.botoes input {
  margin: 12px 10px;
  padding: 4px;
}

.Rules{
  display: block;
  background-color: beige;
  color: black;
  float: right;
  border-style: solid;
  border-color: black;
  border-radius: 40px;
  border-width: 5px;
  margin: 10px;
  margin-top: 0px;
  padding: 10px 7px 15px 25px;
  max-width: 70%;
  margin-top: 3%;
}

.Rules h1 {
  font-weight: bold;
}

.loginName{
  position: absolute;
  top: 8px;
  right: 16px;
  float: right;
  font-weight: bold;
}

.gameBoard{
  margin: 70px auto 50px auto;
  display: flex;
  background-color: #996633;
  height: auto;
  min-height: 150px;
  width: auto;
  border-radius: 50px;
  padding: 30px;
}

.gameBoard .score {
  text-decoration: none;
  display:table;
  margin:0 auto;
}

.gameBoard button{
  border: none;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 0.94;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.seta {
  float: right;
  right: 0;
  padding-top: 10px;
  padding-bottom: 20px;
}

.seta:hover {
  cursor: pointer;
}

.section{
  background-color:rgba(255, 255, 255, 0.03);
  margin:5px;
}

.endsection{
  display:flex;
  flex-grow:1;
  min-width: 10%;
}

.midsection{
  display:flex;
  flex-direction:column;
  flex-grow:6;
}

.midrow{
  display:flex;
  flex-grow:1;
}

.Cavidade{
  text-align: center;
  position:relative;
  background-color:rgba(255, 255, 255, 0.08);
  flex-grow:1;
  margin:5px;
  border-radius:50px;
}

.Semente{
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.Boards {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
}

.ScoreSheet{
  display: block;
  width: 300px;
  padding: 8px;
  margin-top: 80px;
  margin-left: 11%;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.head {
  padding: 20px 16px;
  color: snow;
  font-size: 20px;
  background: linear-gradient(to bottom, #3a404d, #181c26);
}

.container {
	width: 300px;
	height: 300px;
	border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: white;
	position: absolute;
	top: 45%;
  margin-left: 80%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

/* leaderboard */
.leaderboard {
	background: linear-gradient(to bottom, #3a404d, #181c26);
}

/* head */
.leaderboard .head {
	padding: 20px 10px;
	color: snow;
	font-size: 16px;
	text-align: center;
}
.leaderboard .head h1 {
	display: inline-block;
	margin-left: 4px;
}

/* body */
.leaderboard .body {
	color: snow;
	font-size: 14px;
}
.leaderboard ol {
	counter-reset: number;
}
.leaderboard li {
	padding: 15px;
	display: flex;
}
.leaderboard li mark {
	flex-grow: 1;
	color: snow;
	background-color: transparent;
}
.leaderboard li:before {
	counter-increment: number;
	content: counter(number) ".";
	margin-right: 4px;
}
.leaderboard li:nth-child(1) {
	background: #fa6855;
}
.leaderboard li:nth-child(2) {
	background: #e0574f;
}
.leaderboard li:nth-child(3) {
	background: #d7514d;
}
.leaderboard li:nth-child(4) {
	background: #cd4b4b;
}
.leaderboard li:nth-child(5) {
	background: #c24448;
}

.playerNames{
     border-width: 2px;
     margin-bottom: 4px;
     border-style: outset;
     text-align: center;
     line-height: 40px;
     background: black;
     color: white;
}

.playerScore{
  border-width: 2px;
  margin-bottom: 4px;
  border-style: outset;
  text-align: center;
  line-height: 40px;
  background: white;
  color: black;
}

.myFooter{
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 5mm;
}
