*{
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(rgba(235, 192, 52), rgba(245, 188, 66), rgba(245, 170, 66), rgba(245, 156, 66), rgba(245, 141, 66)); /*safari sunset color gradient */
}


span {
  text-decoration: underline;
}

/*Cabeçalho*/

#nome {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  font-size: 20px;
}

.logout {
  font-weight: bold;
  display: inline-block;
  margin-left: 7px;
}

.LogoutImage{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.TitleImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 37%;
}

.loginName{
  position: absolute;
  top: 8px;
  right: 16px;
  float: right;
  font-weight: bold;
}

.logo:hover {
  cursor: pointer;
}

/*formatacao menus parte central*/
.Boards {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
}


/*menu configuracao*/
.Configuration{
  width: 250px;
  height: 350px;
  display: block;
  background-color: beige;
  color: black;
  float: left;
  padding-left: 10mm;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 4%;
  margin-left: 2%;
}

.Configuration h1 {
  margin: 10px 0px;
  font-weight: bold;
}

.Configuration p{
  margin-top: 7px;
}

.botoes input {
  margin: 12px 10px;
  padding: 4px;
}

/*Regras*/

.Rules{
  display: block;
  background-color: beige;
  color: black;
  float: right;
  border-style: solid;
  border-color: black;
  border-radius: 40px;
  border-width: 5px;
  margin: 10px;
  margin-top: 0px;
  padding: 10px 7px 15px 25px;
  max-width: 70%;
  margin-top: 3%;
}

.Rules h1 {
  font-weight: bold;
}

/*menu live scores*/

.ScoreSheet{
  display: block;
  width: 300px;
  padding: 8px;
  margin-top: 80px;
  margin-left: 11%;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-style: solid;
  border-color: black;
  border-radius: 40px;
  border-width: 1px;
}

.playerNames{
     border-width: 2px;
     margin-bottom: 4px;
     text-align: center;
     line-height: 40px;
     border-color: dimgray;
     background-color: black;
     color: white;
     border-style: solid;
     border-radius: 40px;
     border-width: 1px;
}


.playerScore{
  border-width: 2px;
  margin-bottom: 4px;
  text-align: center;
  line-height: 40px;
  background: white;
  color: black;
  border-style: solid;
  border-color: black;
  border-radius: 40px;
  border-width: 1px;
}

/*menu highscores*/

.head {
  padding: 20px 16px;
  color: snow;
  font-size: 20px;
  background: linear-gradient(to bottom, #3a404d, #181c26);
}

.highscores {
	width: 300px;
	height: 305px;
	border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: white;
	position: absolute;
	top: 45%;
  margin-left: 80%;
	transform: translate(-50%, -50%);
	overflow-y: scroll;
}


.highscores::-webkit-scrollbar {
  width: 10px;
}

.highscores::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

/* head */
.leaderboard .head {
	padding: 20px 10px;
	color: snow;
	font-size: 16px;
	text-align: center;
}

.leaderboard .head h1 {
	display: inline-block;
	margin-left: 4px;
}

/* body */
.leaderboard .body {
	color: snow;
	font-size: 14px;
}
.leaderboard ol {
	counter-reset: number;
}
.leaderboard li {
	padding: 15px;
	display: flex;
}
.leaderboard li mark {
	flex-grow: 1;
	color: snow;
	background-color: transparent;
}
.leaderboard li:before {
	counter-increment: number;
	content: counter(number) ".";
	margin-right: 4px;
}

.leaderboard li:nth-child(1) {
	background: #fa6855;
}
.leaderboard li:nth-child(2) {
	background: #f46454;
}
.leaderboard li:nth-child(3) {
	background: #ee6052;
}
.leaderboard li:nth-child(4) {
	background: #e75b51;
}
.leaderboard li:nth-child(5) {
	background: #e15750;
}
.leaderboard li:nth-child(6) {
	background: #db534e;
}
.leaderboard li:nth-child(7) {
	background: #d54f4d;
}
.leaderboard li:nth-child(8) {
	background: #cf4c4b;
}
.leaderboard li:nth-child(9) {
	background: #c8484a;
}
.leaderboard li:nth-child(10) {
	background: #c24448;
}

/* SCROLL */
.highscores::-webkit-scrollbar-thumb {
  background-image: linear-gradient(360deg, #fa6855 10%, #c24448 360%);
  /*background: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%);*/
  outline: 1px solid slategrey;
  border-radius: 100px;
}

/*tabuleiro*/

.gameBoard{
  margin: 70px auto 50px auto;
  display: flex;
  background-color: #996633;
  height: auto;
  min-height: 150px;
  width: auto;
  border-radius: 50px;
  padding: 30px;
}

.gameBoard .score {
  text-decoration: none;
  display:table;
  margin:0 auto;
}

.gameBoard button{
  border: none;
  cursor: pointer;
  min-width: 50px;
}

.section{
  background-color:rgba(255, 255, 255, 0.03);
  margin:5px;
}

.endsection{
  display:flex;
  flex-grow:1;
  min-width: 10%;
}

.midsection{
  display:flex;
  flex-direction:column;
  flex-grow:6;
}

.midrow{
  display:flex;
  flex-grow:1;
}

.Cavidade{
  text-align: center;
  position:relative;
  background-color:rgba(255, 255, 255, 0.08);
  flex-grow:1;
  margin:5px;
  border-radius:50px;
  min-width: 80px;
}

.Semente{
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/*abertura de interfaces (regras)*/
.sidenav, .autent {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 0.94;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .autent a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn, .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*autenticação*/

.autent a {
  padding: 0px 20px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  float: right;
  font-size: xx-large;
}

.inputs{
  display: grid;
  justify-content: center;
}

.login {
  text-align: center;
}

#submit {
  background-image: linear-gradient(rgba(235, 192, 52), rgba(245, 188, 66), rgba(245, 170, 66), rgba(245, 156, 66), rgba(245, 141, 66)); /*safari sunset color gradient */
  color: white;
  padding: 14px 20px;
  margin: 25px 0;
  border: none;
  cursor: pointer;
}

#submit:hover {
  opacity: 0.75;
}

/*icons*/
.seta {
  float: right;
  right: 0;
  padding-top: 10px;
  padding-bottom: 20px;
}

.seta:hover {
  cursor: pointer;
}

/*rodape*/
.myFooter{
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 5mm;
}



button:disabled {
  color: black;
}

@media only screen and (max-width: 800px){
  .Configuration{
    margin-top: 14%;
  }
  body{
    background: linear-gradient(to right, #6441a5, #2a0845);
  }
}

@media only screen and (max-width: 1200px) {
  .Boards{
    display: inline-flex;
  }
  .container{
    margin-left: 70%;
  }
  .Configuration{
    margin-left: 15%;
  }
  .ScoreSheet{
    margin-left: 50%;
  }
}
